{% extends "personal/header.html" %}
{% block content %}
<p>Hey!.I'm a graduate student at Illinois Institute of Technology with in-depth programming knowledge. Developed and established skills in Business Intelligence reporting, Business warehouse, Change management, Software Modeling & development, Artificial Intelligence, Internet of Things, Software project management, through the enriched experience of working as a software engineer for more than 5 years in single, multiple and individual projects and by being a dedicated student at academic institutions. 
 Actively seeking for Co-op/Software development position where I can utilize my expertise and enhance my knowledge while working towards the growth of the organization.
</p>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
